<IfModule mod_headers.c>
    SetEnvIf Origin "https://(www|sub1|sub2|sub3).thekoushikdurgas.in)$" ACAO=$0
    Header set Access-Control-Allow-Origin "%{ACAO}e" env=ACAO
    Header set Access-Control-Allow-Methods "GET"
</IfModule>